In [3]:
import pandas as pd

In [4]:
people={
    'first':['Ram','Hari','Gopal'],
    'last':['sharma','Yadav','verma'],
    'email':['ram@gmail.com','hari@gmail.com','gopal@live.com']
}
people_df=pd.DataFrame(people)

In [5]:
people_df

   first    last           email
0    Ram  sharma   ram@gmail.com
1   Hari   Yadav  hari@gmail.com
2  Gopal   verma  gopal@live.com

In [6]:
people_df.set_index('email')

                first    last
email
ram@gmail.com     Ram  sharma
hari@gmail.com   Hari   Yadav
gopal@live.com  Gopal   verma

In [7]:
people_df.set_index('email',inplace=True)

In [8]:
people_df

                first    last
email
ram@gmail.com     Ram  sharma
hari@gmail.com   Hari   Yadav
gopal@live.com  Gopal   verma

In [9]:
people_df.index

Index(['ram@gmail.com', 'hari@gmail.com', 'gopal@live.com'], dtype='object', name='email')

In [10]:
people_df.iloc[[2]]

                first   last
email
gopal@live.com  Gopal  verma

In [11]:
people_df.loc['ram@gmail.com']

first       Ram
last     sharma
Name: ram@gmail.com, dtype: object

In [12]:
people_df.loc[['ram@gmail.com','hari@gmail.com'],'first']

email
ram@gmail.com      Ram
hari@gmail.com    Hari
Name: first, dtype: object

In [13]:
people_df.iloc[0]

first       Ram
last     sharma
Name: ram@gmail.com, dtype: object

In [14]:
people_df.reset_index()

            email  first    last
0   ram@gmail.com    Ram  sharma
1  hari@gmail.com   Hari   Yadav
2  gopal@live.com  Gopal   verma

In [15]:
people_df.reset_index(inplace=True)
people_df

            email  first    last
0   ram@gmail.com    Ram  sharma
1  hari@gmail.com   Hari   Yadav
2  gopal@live.com  Gopal   verma